lab23XMLvalidateusingXSD.xml

        <?xml version="1.0"?>
        <xs:schema
          xmlns:xs="http://www.w3.org/2001/XMLSchema">
          <note>
            <to>Ram</to>
            <from>Shyam</from>
            <heading>Reminder</heading>
            <body>Don't forget to bring football shoes.</body>
          </note>
          <xs:element name="note">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="to" type="xs:string"/>
                <xs:element name="from" type="xs:string"/>
                <xs:element name="heading" type="xs:string"/>
                <xs:element name="body" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:schema>


